<!DOCTYPE html>
<html>
  <head>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }

      body {
        font-size: 12px;
        font-family: Verdana;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: none;
      }

      .page-left,
      .page-right {
        min-width: 55px;
      }

      .page-break {
        clear: both;
      }

      .page-left,
      .page-right {
        min-width: 55px;
      }

      /* page-preview class disabled for PDF */

      .page-preview .preview-content {
        margin: auto;
        /* border: 1px solid #dadee3; */
      }

      .page-preview .page-frame {
        border: 1px solid #dadee3;
        margin-left: -1px;
        margin-top: -1px;
        background-color: white;
      }

      body {
        font-family: Open Sans;
      }

      .page-fold {
        position: absolute;
        width: 15px;
        height: 1px;
        background-color: #999;
      }

      .page-fold-top {
        top: 35%;
      }

      .page-fold-bottom {
        bottom: 28%;
      }

      .footer {
        border-top: 1px solid #eaeaea;
        margin: 25px 0 20px 0;
        text-align: center;
        padding: 20px 0;
        font-size: 10px;
        color: #424242;
        position: relative;
      }

      .footer:after {
        content: '';
        position: absolute;
        right: -1px;
        top: -1px;
        height: 2px;
        width: 75px;
      }

      .footer-item {
        line-height: 14px;
        padding-left: 5px;
        padding-right: 5px;
        max-width: 100%;
      }

      .footer span {
        display: inline-block;
      }

      .header {
        padding-top: 54px;
      }

      .nowrap {
        white-space: nowrap;
      }

      .logo h2 {
        margin: 0;
        float: right;
        font-size: 19px;
        font-weight: bold;
      }

      .address {
        width: 50%;
        float: left;
      }

      .address-content {
        margin: 109px 10px 10px 22px;
      }

      .address .basic-address {
        color: #999;
        font-size: 9px;
        line-height: 14px;
        padding-bottom: 5px;
        min-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      #cust-name {
        font-weight: bold;
      }

      #cust-address {
        white-space: pre-wrap;
      }

      .basic-address #company-address {
        white-space: nowrap;
      }

      .logo {
        width: 50%;
        float: left;
      }

      .logo img {
        max-width: 100%;
        max-height: 150px;
        float: right;
      }

      .info {
        width: 100%;
        float: left;
        position: relative;
        margin-bottom: 40px;
      }

      .notes,
      .invoice-info-wrapper {
        float: left;
        width: 50%;
      }

      .notes {
        min-height: 10px;
      }

      #additional-notes,
      #notes-text {
        line-height: 16px;
        margin-left: 10px;
      }

      .additional-notes-text,
      #notes-text {
        white-space: pre-wrap;
      }

      #additional-notes {
        margin-top: 20px;
      }

      .page-break.page-actual-break + #additional-notes {
        margin-top: 0 !important;
      }

      #notes-text {
        position: absolute;
        bottom: 0;
        max-width: 48%;
        overflow: hidden;
        max-height: 128px;
      }

      .invoice-line-name,
      .invoice-line-description,
      .notes,
      #additional-notes,
      .footer-item {
        word-wrap: break-word;
        overflow: hidden;
      }

      .invoice-info h3 {
        margin: 0 0 6px;
        padding: 10px;
        font-size: 12px;
        font-weight: 600;
        border-bottom: 1px solid #eaeaea;
      }

      .invoice-info .line {
        padding: 6px 10px;
      }

      .line-bold {
        font-weight: 600;
        font-size: 12px;
      }

      .invoice-info span.value {
        float: right;
      }

      .invoice-info div.amount {
        font-weight: bold;
        background-color: #eaeaea;
      }

      .invoice-lines-table-wrapper {
        width: 100%;
      }

      table {
        transform: translate(0);
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #dadee3;
      }

      td {
        vertical-align: top;
      }

      td.td-product-number,
      td.td-quantity,
      td.td-unit,
      td.td-price,
      td.td-line-discount,
      td.td-line-total,
      td.td-vat {
        width: 10px;
        /* will auto adjust */
      }

      td.td-unit,
      td.td-product-number {
        white-space: normal;
      }

      td.td-product {
        max-width: 10px;
        /* will auto adjust */
      }

      td.quantity,
      #invoice-total .value {
        text-align: right;
        white-space: normal;
      }

      td.td-line-total,
      td.td-price {
        text-align: right;
      }

      #invoice-total .empty-line {
        padding: 2px 10px;
      }

      #invoice-total .value,
      td.td-line-total {
        width: 1%;
        min-width: 75px;
        box-sizing: border-box;
      }

      .table-subtotal,
      .table-head {
        display: none;
      }

      .table-subtotal td {
        text-align: right;
      }

      .table-subtotal .subtotal-amount {
        margin: 0 5px 0 10px;
      }

      tr.show {
        display: table-row !important;
      }

      .table-head {
        background-color: #eaeaea;
      }

      .table-head td {
        padding: 5px 10px;
        white-space: normal;
        border: 1px solid #eaeaea;
      }

      .table-line td {
        padding: 5px 10px;
        border: 1px solid #eaeaea;
      }

      .invoice-line-description {
        margin-top: 5px;
        white-space: normal;
        color: #646473;
        font-size: 11px;
      }

      .invoice-line-description:empty {
        display: none;
      }

      .subtotal-space {
        height: 35px;
      }

      .subtotal-abs-space {
        height: 30px;
      }

      .subtotal-abs-gutter {
        position: absolute;
        right: 0;
        margin: -17px 4px 0 0;
      }

      .clear {
        clear: both;
      }

      #invoice-total {
        margin-top: 20px;
        padding-left: 30px;
        width: 50%;
        float: right;
      }

      #invoice-total.noTax {
        margin-top: 40px;
      }

      .page-break.page-actual-break + #invoice-total {
        margin-top: 0 !important;
      }

      #invoice-total td {
        white-space: nowrap;
        padding: 6px 10px;
      }

      #invoice-total .amount td {
        padding: 7px 10px;
        background-color: #eaeaea;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
      }

      .signature {
        font-size: 16px;
        padding-top: 40px;
      }

      .signature__label {
        font-size: 12px;
      }

      .des2-header-fullsize {
        position: absolute;
        left: -55px;
        right: -55px;
        height: 276px;
        top: 0;
        overflow: hidden;
      }

      .print .des2-header-image__text {
        display: none;
      }

      .des-customer-number {
        display: none;
      }

      .td-product-number {
        display: none;
      }

      .signature {
        display: none;
      }

      .td-vat {
        display: none;
      }

      .must-show {
        display: table-cell !important;
      }

      .hidden {
        display: none;
      }

      .table-line td.td-product-img {
        width: 40px;
        height: 32px;
        text-align: center;
        vertical-align: middle;
      }

      .td-product-img img {
        max-width: 40px;
        max-height: 32px;
      }

      .header-block {
        padding: 0 25px;
        overflow: hidden;
        min-height: 81px;
      }

      .header-block__logo {
        float: right;
        width: inherit;
        max-width: 280px;
        height: 80px;
      }

      .header-block__company-name {
        width: 50%;
        float: left;
        font-size: 20px;
        margin: 24px 0;
        font-weight: normal;
        color: #313140;
      }

      .invoice-block {
        padding: 0 25px;
        margin-top: 20px;
        overflow: hidden;
      }

      .customer-details {
        float: left;
        width: 50%;
      }

      .base-text {
        font-size: 13px;
        line-height: 24px;
        color: #646473;
      }

      .customer-details__address {
        white-space: normal;
      }

      .invoice-info {
        padding: 0;
        float: right;
        width: 280px;
      }

      .invoice-info__lines {
        margin-top: 13px;
      }

      .notes {
        /*margin-top: 58px; à la base c'est cette valeur 58*/
        margin-top: 58px;
        padding: 0 25px;
        box-sizing: border-box;
        width: 100%;
        white-space: pre-line;
      }

      .invoice-table {
        /*margin-top: 58px; à la base c'est cette valeur 58*/
        margin-top: 58px;
        padding: 0 25px;
        box-sizing: border-box;
        width: 100%;
      }
      .invoiceTtable {
        /*copie de invoice-table pour la table des totaux*/
        margin-top: 0px;
        padding: 0 25px;
        box-sizing: border-box;
        width: 100%;
      }

      .table-head td {
        border-width: 0 0 1px 0;
      }

      .invoice-table td {
        padding: 0;
      }

      .invoice-table td + td {
        padding-left: 10px;
      }

      .invoice-table__line td {
        padding: 13px 0;
        /* border-bottom: 1px solid #e5e5e5; */
      }

      .invoice-table__description {
        color: #646473;
        white-space: normal;
        font-size: 10px;
        line-height: 20px;
      }

      .invoice-table__line td.td-product-img {
        padding: 9px 10px 0 0;
        width: 40px;
        text-align: center;
      }

      .table-head td.td-product-img {
        background: #fff;
      }

      .header-text,
      .signature__label,
      h3.header-text,
      td.header-text {
        background: white;
        font-size: 13px;
        font-style: italic;
        padding: 0 0 13px 0;
      }

      .header-text {
        color: #313140;
        border-color: #e5e5e5;
        border: none;
      }

      .print .header-text {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
      }

      td.header-text {
        padding: 6px 0 8px;
      }

      .print td.header-text {
        border-left: none !important;
        border-right: none !important;
      }

      .table-text {
        text-align: left;
      }

      .table-number {
        text-align: right;
      }

      .invoice-total-table {
        margin: 58px 25px 0 0;
        width: 280px;
        float: right;
      }

      .invoice-total-table__amount {
        font-size: 15px;
        font-weight: 600;
        /* semi bold */
        color: #313140;
      }

      .page-bottom .footer {
        text-align: left;
        color: #646473;
        padding: 20px 25px;
        margin: auto;
        font-size: 12px;
        border-top: none;
      }

      .page-bottom .footer:before {
        content: '';
        position: absolute;
        top: 0;
        left: 25px;
        right: 25px;
        border-top: 2px solid #eaeaea;
      }

      .footer-item {
        padding: 0;
        overflow: visible;
        margin-right: 10px;
      }

      .additional-notes {
        padding: 25px 25px 0;
      }

      .signature {
        padding-left: 25px;
      }

      .base-text {
        color: #000000;
      }

      td + td.td-description {
        padding-left: 0;
      }

      .header-text,
      .header-block__company-name,
      .invoice-total-table__amount {
        color: #000000;
      }

      .td-vat {
        display: none;
      }
      .clearfix::after {
        content: '';
        clear: both;
        display: table;
      }
    </style>
  </head>

  <body class="page-preview print">
    <div class="preview-content" style="width: 794px;">
      <div
        class="page-canvas"
        style="width: 684px; margin-left: 55px; height: auto;"
      >
        <div class="header-block">
          <h2 class="header-block__company-name">
            <%= facture.companyData.nomEntreprise.trim() %>
          </h2>
          <img
            class="header-block__logo"
            src="<%=facture.companyLogo.trim() %>"
          />
        </div>
        <div class="page-break page-break-visited"></div>

        <div class="invoice-block">
          <div class="customer-details base-text">
            <div class="customer-details__address">
              <%= facture.client.nomClient.trim() %>
            </div>
            <div class="customer-details__address">
              <%= facture.client.adressClient.trim() %>
            </div>
            <div class="customer-details__address">
              <%= facture.client.emailClient.trim() %>
            </div>
            <div class="customer-details__address">
              <%= facture.client.telephonClient.trim() %>
            </div>
            <div id="cust-ci-or-vat">
              <div id="cust-ci">
                N° TVA UE <%= facture.client.numTvaClient.trim() %>
              </div>
            </div>
            <div class="customer-details__address">
              <%= facture.client.paysClient.trim() %>
            </div>
          </div>
          <div class="invoice-info">
            <h3 class="header-text">
              Facture# <%= facture.numFacture.trim() %>
            </h3>
            <div class="invoice-info__lines">
              <div class="base-text">
                <label><span>Date de facture</span></label>
                <span class="value"><%= facture.dateFacture.trim()%></span>
              </div>
              <div class="base-text">
                <label><span>Date d'échéance</span></label>
                <span class="value"
                  ><%= facture.dateEcheanceFacture.trim()%></span
                >
              </div>
              <div class="base-text des-customer-number">
                <label><span>Numéro de client</span></label>
                <span class="value"><%= facture.client.numClient.trim()%></span>
              </div>
            </div>
          </div>
        </div>

        <div class="notes base-text">
          <%= facture.notesFacture.trim()%>
        </div>
        <div class="page-break page-break-visited"></div>

        <div class="invoice-table">
          <table id="invoice-lines-table">
            <tbody id="invoice-lines">
              <tr class="table-head show">
                <td
                  class="header-text td-description table-text"
                  style="background-color: #dadee3;"
                >
                  Description
                </td>
                <td
                  class="td-quantity header-text table-number"
                  style="background-color: #dadee3;"
                >
                  Quantité
                </td>
                <td
                  class="td-unit header-text table-text"
                  style="background-color: #dadee3;"
                >
                  Unité
                </td>
                <td
                  class="td-price header-text table-number"
                  style="background-color: #dadee3;"
                >
                  Prix
                </td>
                <td
                  class="td-line-discount header-text table-number"
                  style="background-color: #dadee3;"
                >
                  Réduc.
                </td>
                <td
                  class="td-vat header-text table-number must-show"
                  style="background-color: #dadee3;"
                >
                  TVA
                </td>
                <td
                  class="td-line-total header-text table-number"
                  style="background-color: #dadee3;"
                >
                  Montant
                </td>
              </tr>

              <% if (facture.lignesFacture.length > 0){%>
              <%facture.lignesFacture.forEach((ligneFacture)=>{%>
              <tr class="invoice-table__line base-text">
                <td
                  class="table-text td-description"
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                  "
                >
                  <div class=""><%= ligneFacture.produit %></div>
                  <div class="invoice-table__description">
                    <%= ligneFacture.description %>
                  </div>
                </td>
                <td
                  class="td-quantity table-number"
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                  "
                >
                  <%= ligneFacture.quantite %>
                </td>
                <td
                  class="td-unit table-text"
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                  "
                >
                  <%= ligneFacture.unite %>
                </td>
                <td
                  class="td-price table-number"
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                  "
                >
                  <%= ligneFacture.prix %>
                </td>
                <td
                  class="td-line-discount table-number"
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                  "
                >
                  <%= ligneFacture.reduction %>%
                </td>
                <td
                  class="td-vat must-show"
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                  "
                >
                  <%= ligneFacture.tva %>%
                </td>
                <td
                  class="td-line-total table-number"
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                  "
                >
                  <%= ((ligneFacture.quantite * ligneFacture.prix * (100-
                  ligneFacture.reduction)) / 100) %>
                </td>
              </tr>
              <%});%> <%}%>
            </tbody>
          </table>
        </div>
        <div class="invoiceTtable">
          <table class="invoice-total-table" style="width: 60%; float: left;">
            <tbody class="base-text">
              <tr class="table-head show" style="text-align: center;">
                <td class="" style="background-color: #dadee3;">
                  Taux TVA
                </td>
                <td class="" style="background-color: #dadee3;">
                  Montant HT
                </td>
                <td class="" style="background-color: #dadee3;">
                  Valeur TVA
                </td>
              </tr>
              <% if (facture.lignesFacture.length > 0 ){ %> <% var
              lignesFactureTva0Prcent = facture.lignesFacture.filter(
              ligneFacture=> ligneFacture.tva == 0 ); var
              lignesFactureTva6Prcent = facture.lignesFacture.filter(
              ligneFacture => ligneFacture.tva == 6 ); var
              lignesFactureTva12Prcent = facture.lignesFacture.filter(
              ligneFacture => ligneFacture.tva == 12 ); var
              lignesFactureTva21Prcent = facture.lignesFacture.filter(
              ligneFacture => ligneFacture.tva == 21 );%>
              <%if(lignesFactureTva0Prcent.length>0){ %> <% var zero =
              lignesFactureTva0Prcent .map( ligneFacture =>
              ligneFacture.quantite * ligneFacture.prix * (1 -
              ligneFacture.reduction / 100) ) .reduce(function(a, b) { return a
              + b; }) %>
              <tr>
                <td
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  0 %
                </td>
                <td
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  <%=zero%> €
                </td>
                <td
                  class=""
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  <%= lignesFactureTva0Prcent .map( ligneFacture =>
                  (ligneFacture.quantite * ligneFacture.prix * (100 -
                  ligneFacture.reduction) * ligneFacture.tva) / 10000
                  ).reduce(function(a, b) {return a + b;})%> €
                </td>
              </tr>
              <% } %> <%if(lignesFactureTva6Prcent.length>0){ %> <% var six
              =lignesFactureTva6Prcent.map( ligneFacture =>
              ligneFacture.quantite * ligneFacture.prix * (1 -
              ligneFacture.reduction / 100) ) .reduce(function(a, b) { return a
              + b; })%>
              <tr>
                <td
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  6 %
                </td>
                <td
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  <%=six%> €
                </td>
                <td
                  class=""
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  <%= lignesFactureTva6Prcent .map( ligneFacture =>
                  (ligneFacture.quantite * ligneFacture.prix * (100 -
                  ligneFacture.reduction) * ligneFacture.tva) / 10000
                  ).reduce(function(a, b) {return a + b;})%> €
                </td>
              </tr>
              <% } %> <%if(lignesFactureTva12Prcent.length>0){ %> <% var douze =
              lignesFactureTva12Prcent .map( ligneFacture =>
              ligneFacture.quantite * ligneFacture.prix * (1 -
              ligneFacture.reduction / 100) ) .reduce(function(a, b) { return a
              + b; })%>
              <tr>
                <td
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  12 %
                </td>
                <td
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  <%=douze%> €
                </td>
                <td
                  class=""
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  <%= lignesFactureTva12Prcent .map( ligneFacture =>
                  (ligneFacture.quantite * ligneFacture.prix * (100 -
                  ligneFacture.reduction) * ligneFacture.tva) / 10000
                  ).reduce(function(a, b) {return a + b;})%> €
                </td>
              </tr>
              <% } %> <%if(lignesFactureTva21Prcent.length>0){ %> <% var vingtUn
              = lignesFactureTva21Prcent .map( ligneFacture =>
              ligneFacture.quantite * ligneFacture.prix * (1 -
              ligneFacture.reduction / 100) ) .reduce(function(a, b) { return a
              + b; })%>
              <tr>
                <td
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  21 %
                </td>
                <td
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  <%=vingtUn%> €
                </td>
                <td
                  class=""
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  <%= lignesFactureTva21Prcent .map( ligneFacture =>
                  (ligneFacture.quantite * ligneFacture.prix * (100 -
                  ligneFacture.reduction) * ligneFacture.tva) / 10000
                  ).reduce(function(a, b) {return a + b;})%> €
                </td>
              </tr>
              <% } %> <% } %>
              <tr>
                <td style="border-left: 1px solid rgb(236, 239, 241);"></td>
                <td
                  class=""
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  TVA
                </td>
                <td
                  class=""
                  style="
                    border-right: 1px solid rgb(236, 239, 241);
                    border-left: 1px solid rgb(236, 239, 241);
                    text-align: right;
                    padding-right: 15px;
                  "
                >
                  <%= facture.lignesFacture.map( ligneFacture =>
                  (ligneFacture.quantite * ligneFacture.prix * (100 -
                  ligneFacture.reduction) * ligneFacture.tva) / 10000
                  ).reduce(function(a, b) {return a + b;})%> €
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="">
          <table
            class="invoice-total-table"
            style="background-color: #dadee3; width: 33%;"
          >
            <tbody class="base-text">
              <tr>
                <td>Total HT</td>
                <td class="table-number">
                  <%=
                  facture.lignesFacture.map(ligneFacture=>((ligneFacture.quantite*ligneFacture.prix)*((100-ligneFacture.reduction)/100))).reduce(function(a,
                  b){return a+b;})%> €
                </td>
              </tr>
              <tr>
                <td>TVA</td>
                <td class="table-number">
                  <%= facture.lignesFacture.map( ligneFacture =>
                  (ligneFacture.quantite * ligneFacture.prix * (100 -
                  ligneFacture.reduction) * ligneFacture.tva) / 10000
                  ).reduce(function(a, b) {return a + b;})%> €
                </td>
              </tr>
              <tr class="invoice-total-table__amount">
                <td>Montant Total EUR</td>
                <td class="table-number">
                  <%= facture.lignesFacture .map( ligneFacture =>
                  (ligneFacture.quantite * ligneFacture.prix * ((100 -
                  ligneFacture.reduction) * ligneFacture.tva + 100 * (100 -
                  ligneFacture.reduction))) / 10000 ) .reduce(function(a, b) {
                  return a + b; })%> €
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="notes base-text">
          <%= facture.conditionFacture.trim() %>
        </div>

        <div
          class="page-bottom"
          id="pageFooter"
          style="width: 684px; top: 949px; margin: auto;"
        >
          <div class="subtotal-space"></div>
          <div class="footer">
            <span class="footer-item">
              <%=facture.companyData.nomEntreprise.trim()%>
            </span>
            <span class="footer-item">
              <%=facture.companyData.adresseEntreprise.trim()%>
            </span>
            <span class="footer-item nowrap">
              E-mail :
              <span> <%=facture.companyData.emailEntreprise.trim()%> </span>
            </span>
            <span class="nowrap footer-item">
              Téléphone :
              <span><%=facture.companyData.telephoneNumberEnt.trim()%></span>
            </span>
            <span class="nowrap footer-item">
              Site Internet :
              <span><%=facture.companyData.webSite.trim()%></span>
            </span>
            <span class="nowrap footer-item">
              n° SIREN / SIRET :
              <span><%=facture.companyData.companyNumber.trim()%></span>
            </span>
            <span class="nowrap footer-item">
              N° TVA:
              <span><%=facture.companyData.vatNumber.trim()%></span>
            </span>
            <span class="nowrap footer-item">
              Banque :
              <span><%=facture.companyData.bankName.trim()%></span>
            </span>
            <span class="nowrap footer-item">
              Code banque:
              <span><%=facture.companyData.bankNumber.trim()%></span>
            </span>
            <span class="nowrap footer-item">
              N° du compte:
              <span><%=facture.companyData.bankAccount.trim()%></span>
            </span>
            <span class="nowrap footer-item">
              Titulaire du compte :
              <span><%=facture.companyData.accountHolderName.trim()%></span>
            </span>
            <span class="nowrap footer-item">
              BIC :
              <span><%=facture.companyData.swiftCode.trim()%></span>
            </span>
            <span class="nowrap footer-item">
              IBAN :
              <span><%=facture.companyData.ibanCode.trim()%></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
